/* Estilos para dispositivos móveis */
@media only screen and (max-width: 767px) {

    /* Estilizando a barra de rolagem */
    ::-webkit-scrollbar {
        z-index: -1;
        width: 0px;
        background-color: rgba(224, 171, 171, 0);
    }

    /* Estilizando o "polegar" da barra de rolagem */
    ::-webkit-scrollbar-thumb {
        z-index: -1;
        background-color: rgb(224, 171, 171);
        border-radius: 5px;
    }


    /* Estilos para o menu de dispositivos móveis */
    #mobile-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background-color: rgba(255, 231, 231, 0.815);
        backdrop-filter: blur(10px);
        /* Efeito de desfoque */
        z-index: 1000;
        /* Garante que o menu sobreponha outros elementos */
        display: flex;
        justify-content: center;
        /* Centraliza os itens horizontalmente */
        align-items: center;
        animation: fadeIn 2s ease;
        /* Adiciona a animação de fade-in */
    }

    .logo {
        font-size: 2rem;
    }

    /* Remove o cursor de link */
    .logo:hover {
        cursor: pointer;
    }

    /* Oculta o elemento em formato desktop */
    #desktop-nav {
        display: none;
    }

    /* Ajustes para dispositivos móveis */
    #home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        height: 100vh;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .section__pic-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        /* Altura ajustada conforme necessário */
        width: 300px;
        /* Largura ajustada conforme necessário */
        perspective: 1000px;
        /* Adiciona perspectiva para o efeito 3D */
    }

    .pic {
        margin-top: 100px;
        width: 100%;
        height: 100%;
        border-radius: 25rem;
        position: absolute;
        backface-visibility: hidden;
        /* Garante que a face traseira não seja visível durante a rotação */
        transition: transform 0.8s ease;
        /* Adiciona transição suave para a rotação */
    }

    #pic-front {
        transform: rotateY(0deg);
        /* Define a imagem frontal */
        z-index: 2;
        /* Garante que a imagem frontal seja exibida por cima da imagem traseira */
    }

    #pic-back {
        transform: rotateY(180deg);
        /* Define a imagem traseira */
        z-index: 1;
        /* Coloca a imagem traseira atrás da imagem frontal */
    }



    .section__text-mobile {
        align-self: center;
        text-align: center;
        margin-bottom: 90px;
        opacity: 0;
        /* Começa com opacidade 0 */
        transform: translateY(-20px);
        /* Começa posicionado acima do lugar final */
        transition: opacity 2s ease, transform 0.5s ease;

    }

      /* Estilos para os botões */
      .btn-container-mobile {
        display: flex;
        justify-content: center;
        gap: 1rem;
        opacity: 0;
        /* Começa com opacidade 0 */
        transform: translateY(20px);
        /* Começa posicionado abaixo do lugar final */
        transition: opacity 0.5s ease, transform 0.5s ease;
        /* Adiciona transições suaves */
    }

    /* Quando a seção de texto e botões estiver visível */
    .section__text-mobile.visible,
    .btn-container-mobile.visible {
        opacity: 1;
        /* Altera a opacidade para 1 */
        transform: translateY(0);
        /* Retorna à posição original */
    }

    /* Definição da animação de fade-in */
    @keyframes fadeIn {
        from {
            opacity: 0;
            /* Começa com opacidade 0 */
            transform: translateY(-10px);
            /* Move 10px para cima */
        }

        to {
            opacity: 1;
            /* Termina com opacidade 1 */
            transform: translateY(0);
            /* Retorna à posição original */
        }
    }

    .section__text__p12 {
        text-align: center;
    }

    article {
        font-size: 1rem;
    }


    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }



    .section__text__p2 {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    .text-container {
        margin-top: 20px;
        text-align: justify;
    }


  



    /* Estilo para dispositivos móveis */
    @media screen and (max-width: 767px) {

        .desktop {
            display: none;
        }

        /* GALLERY SECTION */
        #gallery {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            height: 80vh;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .carousel-container::-webkit-scrollbar {
            display: none;
        }



        .centralizado {
            text-align: center;
            /* Centraliza o conteúdo horizontalmente */
            left: 0;
            right: 0;
            margin-bottom: 3%;

        }

        .carousel-container {
            display: flex;
            overflow-x: auto;
            width: 100%;
            user-select: none; /* Impede a seleção de texto */
            -webkit-user-drag: none; /* Impede o evento de arrastar no Safari */
            -webkit-touch-callout: none; /* Impede a ação de toque de longo no Safari */
            pointer-events: none; /* Bloqueia qualquer interação do usuário */
        }
        
        

        .gallery-item {

            flex: 0 0 auto;
            scroll-snap-align: start;
            width: 100%;
            /* Garante que cada item do carrossel ocupe toda a largura da tela */
        }

        .gallery-item img {
            max-width: 100%;
            height: auto;
            display: block;
            border-radius: 15px;
            /* Corrige um possível problema de exibição das imagens */
            margin: 0 auto;
            /* Centraliza as imagens horizontalmente */
        }

        .carousel-controls {
            text-align: center;
            margin-top: 10px;
            display: none;
        }

        .prev-button,
        .next-button {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            font-size: 20px;
            cursor: pointer;
            margin: 0 10px;
        }

        .prev-button:hover,
        .next-button:hover {
            background-color: #0056b3;
        }
    }



    #contact {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 70vh;
        margin-bottom: 5px;
    }


    /* Estilo para dispositivos móveis */
    @media screen and (max-width: 767px) {
        .contact-grid {
            display: grid;
            margin-top: 30px;
            margin-left: 25px;
            margin-bottom: 20px;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 20px;
            justify-content: center;
            /* Centraliza a grade de itens na horizontal */
        }
    }


    .contact-info {
        display: flex;
        align-items: center;
    }

    .contact-info p {
        margin-left: 10px;
    }


    .contact-grid {
        display: grid;
        margin-top: 30px;
        margin-left: 2px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        /* Define duas colunas de tamanho igual */
        gap: 20px;
        justify-content: center;
        /* Centraliza a grade de itens na horizontal */
    }




    #footerone {
        margin-top: 30px;
        text-align: center;
    }



    .email-icon {
        block-size: 2.2rem;
    }

    #contact,
    #projects {
        block-size: fit-content;
    }



    /* ICONS */

    .icon {
        cursor: pointer;
        height: 2rem;
    }


    article .icon {
        cursor: default;
    }

    p {
        color: rgb(85, 85, 85);
    }

    /* TRANSITION */

    a,
    .btn {
        transition: all 300ms ease;
    }

    a {
        color: black;
        text-decoration: none;
        text-decoration-color: white;
    }

    a:hover {
        color: grey;
        text-decoration: underline;
        text-underline-offset: 1rem;
        text-decoration-color: rgb(181, 181, 181);
    }



    /* ABOUT SECTION */
    #about {
        position: relative;
    }

    .about-containers {
        gap: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        /* Centraliza os itens horizontalmente */
    }

    .about-details-container {
        flex-direction: column;
        align-items: center;
        /* Centraliza os itens verticalmente */
        justify-content: center;
        /* Centraliza os itens horizontalmente */
    }

    .title-about {
        text-align: center;
        margin-bottom: 40px;
    }


    .about-pic {
        margin-top: 10px;
        width: 200px;
        height: 200px;
        border-radius: 2rem;
        object-fit: cover;
        /* Para garantir que a imagem cubra todo o contêiner */
        display: block;
        /* Para centralizar a imagem */
        margin: 0 auto;
        /* Para centralizar a imagem horizontalmente */
    }

    .text-container {
        margin: 0 20px;
        /* Adiciona margens nas laterais do texto */
    }

    .about-pic-left {
        margin-top: 10px;
        margin-bottom: 40px;
        width: 200px;
        height: 200px;
        border-radius: 2rem;
    }

    .about-pic {
        margin-top: 10px;
        margin-bottom: 40px;
        width: 200px;
        height: 200px;
        border-radius: 2rem;
    }

    .about-pic {
        margin-top: 10px;
        margin-bottom: 40px;
        width: 200px;
        height: 200px;
        border-radius: 2rem;
    }



    /* Seção Feedback */
    #feedback {
        text-align: center;
        display: flex;
        height: 40vh;
        margin-bottom: 150px;
        flex-direction: column;
        /* Exibir os itens um abaixo do outro */
    }

    .title-depoimentos {
        margin-bottom: 40px;
    }



    .feedback-container {
        width: 100%;

        overflow-x: auto;
        /* Adiciona scroll horizontal */
    }

    /* Esconde o indicador do scrollbar */
    .feedback-container::-webkit-scrollbar {
        display: none;
    }


    .feedback-carousel-container {
        display: inline-flex;
        /* Torna os itens do carrossel em linha */
        transition: transform 0.5s ease;
    }

    .testimonial-item {
        flex: 0 0 auto;
        width: 60%;
        margin-right: auto;
        /* Margem direita automática para centralizar o item */
        margin-left: auto;
        /* Margem esquerda automática para centralizar o item */
    }

    .testimonial-text {
        background-color: rgba(255, 231, 231, 0.877);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        padding: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }



    .carousel-controls {
        margin-top: 20px;
        text-align: center;
        /* Centraliza os botões de navegação */
    }

    .prev-button,
    .next-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 20px;
        cursor: pointer;
        margin: 0 10px;
    }

    .prev-button:hover,
    .next-button:hover {
        background-color: #0056b3;
    }


    #finds-link {
        font-weight: bold;
    }



    .gallery-item {
        animation: slideAnimation 8s infinite;
        /* 10s é a duração da animação */
    }

    .testimonial-item {
        animation: slideAnimation 10s infinite;
        /* 10s é a duração da animação */
    }

    @keyframes slideAnimation {
        0% {
            transform: translateX(0);
        }

        25% {
            transform: translateX(0);
        }

        35% {
            transform: translateX(-100%);
        }

        45% {
            transform: translateX(-100%);
        }

        55% {
            transform: translateX(-200%);
        }

        75% {
            transform: translateX(-200%);
        }

        85% {
            transform: translateX(-100%);
        }

        90% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0);
        }
    }




}